/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: 'Open sans', sans-serif;
  padding: 0.5em 2em;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #D4D9DF;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

#page-nav {
  background-color: #8acb88;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 1em;
  color: #FFF;
  background-color: #8acb88;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #70B481;
}

/* Styling for the In-text Link */
.InText-Link {
  text-decoration: none;
  font-weight: 400;
  color: #cf5c36;
   -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.inText-Link:hover {
  text-decoration: underline;
  color: #aa4c2d;

}

/* Styling for the Submit/Reset button*/
.default-button {
  background-color: #cf5c36;
  color: white; 
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 0.4em;
  border-style: none;
  padding: 0.5rem 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase; /* referred to W3Schools*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.default-button:hover {
  background-color: #aa4c2d;
}

/* Styling for the Text Input Field*/
.textInput-field {
  border: solid 0.1em #d4d9df;
  border-radius: 0.25em;
  font-size: 0.8em;
  padding: 0.4em;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for the Headings*/
.heading1 {
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
  color: #24272b;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #24272b;
}

.heading3 {
  font-weight: 600;
  font-size:1.2em;
  color: #24272b;
}

/* Styling for Paragraph*/
.paragraph {
  font-weight: 300;
  width: 50em;
  color: #596068;
}

/* Styling for the Bullet List*/
.bullet-list {
  line-height: 1.8em;
  color: #596068;
  padding-left: 2em;
}


/* Styling for Numbered List*/
.numbered-list {
  line-height: 1.8em;
  color: #596068;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for Navigation*/
.navigation {
  width: 100%;
  background-color: #8acb88;
  text-align: right;
  border-radius: 0.5em;
}

/* Styling for Product Listing*/
.p-listing {
  width: 25%;
}

.p-listing ul {
  padding-left: 0 !important; 

}

.p-listing li {
  border-top: 1px solid #D4D9DF;
  border-bottom: 1px solid #D4D9DF;
  list-style-type:none; 
  padding: 1.2em;
}

.p-listing li:hover {
  background-color: #efc88b;
  color: white;
}

/* Grid Structure*/

* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1 1 auto;
  border: 1px solid #333333;
  text-align: center;
  padding: 1em;
}

@media (max-width: 30em){
  .grid-item {
  flex: 0 0 100%;
  }
}
 /*source: from Week 3 lab*/

/*Colour Scheme*/

.colours {
  width: 10em;
  height: 10em;
  text-align: center;
  padding-top: 10em;
  margin-right: 1em;
  margin-top: 1em;
}

.colours p {
  padding-right: 50%;

}

#main-green {
  background-color: #8acb88;
}

#light-green {
  background-color: #e4fde1;
}

#dark-green {
  background-color:  #70B481;
}

#orange {
  background-color: #cf5c36;
}

#light-orange {
  background-color: #efc88b;
}

#black {
  background-color: #07080a;
}

#light-black {
  background-color: #24272b;
}

#grey {
  background-color: #596068;
}

#light-grey {
  background-color: #d4d9df;
}



/*-------------Wireframe page---------------*/

/*smartwatch*/
#smartwatch {
  width: 312px;
  height: 390px;
}

#mobile {
  width: 400px;
  height: 710px;
}

#console {
  width: 1189px;
  height: 667px;
}