/*
  MAIN STYLESHEET FOR MEALBOX
*/

/* ----

BASIC STYLING

---- */

body {
  font-family: 'Open sans', sans-serif;
  padding: 0em;
  margin: 0em;
  width: 100%;
}

section {
  border-top: none; /* no 1px border underneath the header */
}

/* this causes all the !important
section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #D4D9DF;
}*/

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

/* Styling for Links */
a {
  text-decoration: none;
}

.InText-Link {
  text-decoration: none;
  font-weight: 400;
  color: #cf5c36;
   -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.inText-Link:hover {
  text-decoration: underline;
  color: #aa4c2d;
}

/* Styling for Text Elements */
.tag-line {
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
  margin: auto;
  color: #24272b;
}

.subTag-line {
  color: white !important;
  font-size: 1.3em;
  font-weight: 400;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #24272b;
}

.heading3 {
  font-weight: 600;
  font-size: 1.2em;
  color: #24272b;
  margin-top: .25rem;
}

.paragraph {
  font-weight: 300;
  width: 100%;
  color: #596068;
}

.title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* nowhere using sub-title */
.sub-title {
  text-align: left;
  margin: 2rem 0 1rem 0 !important; 
}
 
.body {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.5rem 0 1rem 0;
}

/* Styling for Buttons */
button { 
  color: white; 
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 0.4em;
  border-style: none;
  padding: 0.5rem 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase; /* referred to W3Schools*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.default-button {
  background-color: #cf5c36;
}

.default-button:hover {
  background-color: #aa4c2d;
}

/* Styling for Forms */
label {
  font-size: 1em;
  font-weight: 700;
}

.textInput-field, select {
  width: 20em;
  border: solid 0.05em #d4d9df;
  border-radius: 0.4em;
  font-size: 1em;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  display: block;
}

/* ----

PAGES

---- */

/* -- HOME PAGE -- */

/* HEADER */
.header {
  margin: 0;
  padding: 0;
  background-color: #8acb88;
}

.navigation {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  z-index: 1;
  /*position: fixed;*/
}

/* logotype */
.nav-logo {
  left: 0;
  font-size: 1.2em;
  margin: 0.5em 0em;
  z-index: 3;
  top: 0;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 3rem;
  display: inline-block;
}

/* logo img */
.header-logo {
  width: 75px;
  margin-right: 0.5rem;
  float: left;
}

/* links in nav */
.button-nav {
  color: #FFF;
  background-color: #8acb88;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  z-index: 10;
}

.button-nav:hover, .button-nav:focus {
  color: #cf5c36 ;
}

/*source: http://blog.christopherianmurphy.com/2016/01/responsive-pure-css-menu.html*/
.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation li {
  list-style: none;
  display: inline-block;
}

nav .wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* mobile hamburger menu */
#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}
@media (max-width: 65em){
  
  .navigation ul {
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }
  .navigation li {
    border-bottom: 1px solid #ffffff;
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
    cursor: pointer;
    display: inline;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px;
  }
  nav .wrapper {
    display: block;
  }
} 
/*end of media query*/


/* Home Sections */
.home-section {
  /*margin-top: 10vh;*/
  height: 78vh;
  text-align: center;
  background-color: black;
}

.home-container {
  /*background-image: url("path/to/img/home-image-2.png");*/
  width: 100%;
  height: 78vh;
  /*background-size: cover;
    background-repeat: no-repeat;*/
  position: relative;
  overflow: hidden;
}

#img-home {
  background-color: #d9d9d9;
  /*height: 100%;*/
  opacity: 0.7;
  margin: 0;
  display: block;
  object-fit: cover;
  /*source: https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio*/
}

.home-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 30%;
  text-anchor: middle;
  z-index: 10;
}

.home-content h1 {
  color: white;
}

.home-button { /* "ORDER NOW" button, takes user to menu page */
  font-size: 1.1em !important;
  letter-spacing: 0.18em !important;
  margin-top: 5vh;
}

#arrow {
  color: white !important;
  position: absolute;
  width: 100%;
  bottom: 3vh;
  left: 0;
  cursor: pointer;
  padding-top: 0.2em;
  padding-bottom: 3em;
}

#arrow:hover {
  opacity: 0.8;
}

#down-arrow {
  width: 2.5em;
  height: 2em;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

/* Who Are We? Section */
.about {
  margin: 0 2.3em;
}

.about-text {
  width: 35%;
  text-align: center;
  margin-bottom: 5vh;
}

.image, .step-text { /* steps */
  /*background-color: #262626;*/
  width: 100%; 
}

/* Menu Section */
.home-menu {
  background-color: #f2f2f2;
  padding-top: 0.1em;
}

.menu-item {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.menu-item img {
  overflow: hidden;
  height: 100%;
}

#viewMore-button {
  text-align: center;
}

/* News Section */
.news {
  margin: 0 2.3em;
}

.news-text {
  width: 15em;
  padding-right: 1.5em;
}

.news-text p {
  padding-top: 1em;
}

/* -- MENU PAGE -- */
.item-title { /* title of product */
  position: absolute;
  /*background-color: rgba(0,0,0, 0.6);*/
  z-index: 2;
  color: white !important;
  top: 0;
  padding: 0.7em 2em;
  width: 100%;
  transition: ease 0.5s;
  cursor: pointer;
}

/*
.item-title-active:hover {
  position: absolute;
  z-index: 2;
  color: white !important;
  top:0;
  padding-top: : 1.9em;
  padding-left: 2em;
}*/

.item-content {
  width: 100%;
 /* visibility: hidden;*/
  bottom: -100%;
  transition: bottom 0.5s ease;
  /*display: block;*/
  background: rgba( 0, 0, 0, 0.7);
  bottom: -86%;
  color: #fff;
  height: 100%;
  left: 0%;
  position: absolute;
  transition: bottom 0.5s ease;
  width: 100%;

  /*https://stackoverflow.com/questions/38310853/make-a-div-slide-up-on-click-and-hover-using-css3-transitions */

}

.menu-item:hover .item-content {
  bottom: 0%;
}

.item-content p {
  position: absolute;
  z-index: 2;
  color: white;
  top: 6em;
  left: 2.5em;
  width: 80%;
}

.item-content button {
  position: absolute;
  z-index: 2;
  bottom: 1em !important; /* need to check if important is needed */
}



/* not used
#item-layer3 { 
  display: block !important;
} */

/* check if important is needed */
.add-item {
  margin-left: 15% !important;
  margin-right: 15% !important;
  font-size: 1.1em !important;
  text-align: center;
  width: 70%;
}

.review-link {
  position: absolute;
  z-index: 2;
  left: 2.5em;
  top: 4.1em;
}

.rating {
  height: 15px;
  width: 80px;
  padding-right: 0.3em;
}

.rating2 {
  z-index: 2;
  left: 2.5em; 
  top: 5em;
  height: 15px; 
  width: 80px; 
}

.comment2 {
  top: 11em;
}

.comment2-p{
  top: 12em !important;
}

.review-back {
  position: absolute;
  z-index: 2;
  top: 0.7em;
  left: 1em;
  text-align: center;
}

/* -- ACCOUNT PAGE -- */
/*make different size of grid for account item*/
.grid-col-3of10 {
  width: 30%;
  float: left；
}

.grid-col-5of10 {
  width: 50%;
  float: left；
}

.account-item {
  flex:1 1 auto;
  text-align: left;
  position: relative;
  top: 5em;
  left: 15em;
}

.auto-renew input[type=checkbox] {
  margin-top: 0.8em;
}

.auto-renew label {
  font-weight: 300;
  font-size: 0.8em;
}

/*styling for first column of table*/
.first-col{
  border-top: 1px solid #333333;
  float:left;
}

/*styling for first column of table*/
.second-col{
  border-top: 1px solid #333333;
  float:left;
  padding-top:1.3em;
  padding-left: 0.8em;
}

/*styling for second column of table*/
.third-col{
  border-top: 1px solid #333333;
  float:left;
  padding-top:1.3em;
  padding-left:2em;
}

/*clear floating*/
.clear{
  clear:both;
}

/*styling for account image*/
#account-img {
  width: 10em;
  height:auto;
  z-index: -1;
}

/* -- ORDER CONFIRMATION PAGE -- */

/*fix position for footer in 
confirm page and contact page*/
.bottom{
  width:100%;
  height:auto;
  position:fixed;
  bottom:0;
}

/*size for grid in confirm page*/
.col-4of10 {
  width: 40%;
  position: relative;
  left: 30%; /*probably find a better way to center the col elements rather than defining a set value for left*/
  /*background-color: green; test*/
}

.col-7of10 {
  width: 70%;
}

@media (max-width: 40em){
  .grid-col-4of10{
    left: 4em;
  }
}

/*styling for img in confirm page*/
.confirm-img{
  width: 300px;
  height: auto;
  float: left;
  margin-top: 4rem;
}

/*styling for para in confirm page*/
.confirm-msg {
  width: 50%;
  float: left;
  margin-left: 3em;
  margin-top: 2rem;
}

@media(max-width: 40em){
  .confirm-msg{
    margin-left: 1em;
  }
}

/* -- ORDER (WRITE A) REVIEWS PAGE -- */

/*set size for order review image
not sure if this is needed*/
.order-confirm-img{
  width:160px;
  height:160px;
}

/*styling for order review 
page's input text*/
.order-review{
  width: 100%;
  height: 10em;
  border: solid 0.05em #d4d9df;
  border-radius: 0.4em;
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 1em;
}

/* -- CONTACT PAGE -- */

@media (max-width: 40em){
  .grid-col-4of10{
    left: 4em;
  }
}

/*set position for button in contact */
.contact-button{
  position:relative;
  top: 16em;
  left: 31em;
}

/*set size for input text field  */
#name, #email{
  width: 15em;
}

/* -- REGISTRATION PAGE -- */
.select-plan, .basic-info, .payment-methods, .newsletter-form, .buttons {
  margin: 0em 15em;
}

@media (max-width: 1300px) {
  .select-plan, .basic-info, .payment-methods, .newsletter-form, .buttons {
    margin: 0em 10em !important;
  }
}

@media (max-width: 750px){
  .select-plan, .basic-info, .payment-methods, .newsletter-form, .buttons {
    margin: 0em 5em !important;
  }

  .newsletter-form { 
    margin-left: 5em !important;
    font-size: 0.86rem;
   }
}

.buttons {
  margin-bottom: 3em;
  position: absolute;
}

.plan-text {
  width: 15em;
  padding: 1.5em !important;
  margin-left: 0 !important;
  margin-right: 0.8em;
  background-color: #eee;
}

.plan-text p {
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

.plan-text:hover, .plan-text:target {
  background-color: #efc88b;
}

.plan-price {
  margin-top: 0.25rem;
  margin-bottom: 0.1rem;
}

.name-fields label, .email-fields label, .address-fields label {
  display: block;
}

.name-fields input, .email-fields input, .address-fields input {
  display: inline;
  margin-right: 1.12rem;
  font-size: 0.86rem;
}

.basic-info label, .select-plan label, .payment-methods label {
  font-size: 0.86rem;
}

select {
  width: 10rem;
  font-size: 0.86rem;
}

#postal-code {
  width: 7em;
}

.method p {
  font-size: 0.76rem;
  font-weight: 600;
}

.method img { /*credit card image */
  min-width: 10rem;
  max-width: 10rem;
  margin-top: -0.75rem;
  margin-bottom: 1.5rem;
}

.method label, .exp-date label {
  display: block;
}

.method input[type=radio] {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.exp-date select, .exp-date p {
  display: inline;
}

.exp-date select, .del-time select {
  width: 5em;
}

.newsletter-form input {
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
}

/* step progress bar 
Tutorial: https://www.youtube.com/watch?v=DYevj6UGNWA */

.progress-bar-container {
  width: 100%;
}

.progress-bar {
  counter-reset: step;
}

.progress-bar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  font-weight: 700;
  color: #d4d9df;
  margin-bottom: 2rem;
}

.progress-bar li p {
  color: #d4d9df;
  margin-top: 0.5rem;
}

.progress-bar li:before {
  content: counter(step); /*conuter-rest*/
  counter-increment: step;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 5px solid #d4d9df;
  display: block;
  text-align: center;
  margin: 0 auto 0.5rem auto;
  border-radius: 50%;
  background-color: white;
}

/*line*/
.progress-bar li:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #d4d9df;
  top: 1rem; /*half of the w/h of the circle*/
  left: -50%;
  z-index: -1;
}

/*this makes the line start at the first circle*/
.progress-bar li:first-child:after {
  content: none;
}

.progress-bar li.active {
  color: white;
}

.progress-bar li.active p {
  color: #cf5c36;
}

.progress-bar li.active:before {
  border-color: #cf5c36;
  background-color: #cf5c36;
}

.progress-bar li.active:after {
  background-color: #cf5c36;
} 

/* -- ORDER PAGE -- */
.selected-menu, .shipping-info, .del-time {
  margin: 0 15rem !important;
}

@media (max-width: 1300px) {
  .selected-menu, .shipping-info, .del-time {
    margin: 0em 10em !important;
  }
}

@media (max-width: 750px){
  .selected-menu, .shipping-info, .del-time {
    margin: 0em 5em !important;
  }
}

.selected-items {
  margin: 0 !important;
  position: relative;
}

.selected-items img {
  overflow: hidden;
  width: 75%;
}

.selected-items p {
  font-size: .85rem;
  color: #596068;
}

.shipping-location {
  margin-left: -2rem;
}

.shipping-location li{
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding-right: 5rem;
}

.shipping-location li input {
  margin-right: 0.86rem;
}

.selected-meals a, .shipping-location li a {
  font-size: 0.75rem;
}

.quantity-field {
  width: 5em;
  text-align: center;
  border: solid 0.05em #d4d9df;
  border-radius: 0.4em;
  font-size: 1em;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  display: block;
}

.del-time select, .del-time p {
  display: inline;
}

/* Footer */
.footer {
  border-top: 1px solid #eee;
  padding: 1em 0;
  background-color: #f2f2f2;
  text-align: center;
}

.footer-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

/* trying out a different footer
.footer .footer-container {
  height: 4em;
}

.footer-section {
  list-style: none;
  margin-bottom: 0;
}

@media (min-width: 544px) {
  .col-sm-2 {
   width: 16.667%;
   float: left; bad
  }
}

.footer-section ul {
  margin-top: 0;
  display: inline-block;
}

.footer-section-header {
  padding-bottom: 0.85em;
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
  color: #70B481;
}

.footer-section li {
  display: list-item;
}

.footer-section li a, .footer-section li a:visited, .footer-section li a:focus {
  color: #24272b;
  font-size: 0.8em;
} */

.legal-container .footer-container {
  height: 1.5em;
}

.legal-footer { 
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 1em;
}

.legal-footer p, .legal-footer a {
  display: inline-block;
  color: #d4d9df;
  font-size: 0.8rem;
}

.footer-item:not(:first-child) {
  padding-left: 1em;
}