body {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
}

section {
	border-top: none !important;
}

.title {
	text-align: center;
}

.sub-title {
	text-align: left;
	margin: 2rem 0 1rem 0 !important; 
}

.header {
	margin: 0 !important;
	padding: 0 !important;
	background-color: #8acb88;
}

#img-home {
	background-color: #d9d9d9;
	/*height: 100%;*/
	opacity: 0.7;
	margin: auto;
	display: block;
	object-fit: cover;
	/*source: https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio*/

}

.home-section {
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 10vh;
	height: 78vh;
	text-align: center;
	background-color: black;

}

.home-container {

	/*background-image: url("path/to/img/home-image-2.png");*/
	width: 100%;
	height: 78vh;
	/*background-size: cover;
    background-repeat: no-repeat;*/
	position: relative;
	overflow: hidden;
}

.home-button {
	font-size: 1.1em !important;
	letter-spacing: 0.18em !important;
	margin-top: 5vh;
}

.home-content {
	width: 100%;
	position: absolute;
	left: 0;
	top: 30%;
	text-anchor: middle;
	z-index: 10;
}

.home-content h1 {
	color: white;
}

#about-arrow {
	color: white !important;
	position: absolute;
	width: 100%;
	bottom: 6vh;
	left: 0;
	cursor: pointer;
}

#down-arrow {
	width: 2.5em;
	height: 2em;
	position: absolute;
	bottom: 1.5vh;
	margin: auto;
	left: 48.5%;
	cursor: pointer;
}

#down {
	width: 100%;
}

/*about section*/

.about {
	margin: 0 2.3em !important;
}

.about-text {
	width: 35%;
	text-align: center;
	margin-bottom: 5vh !important;
}

.header-logo {
	width: 75px;
	margin-right: 0.5rem;
	float: left;
}

.image {
	/*background-color: #262626;*/
	width: 100%; 
}

.step-text {
	width: 100%;
}

.home-menu {
	background-color: #f2f2f2;
	text-align: center;
}

.menu-item {
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
}

.menu-item img {
	overflow: hidden;
	height: 100%;
}
1
.more-menu {
	text-align: center !important;
}

.news {
	margin: 0 2.3em !important;
}

.news-text {
	width: 15em;
	padding-right: 1.5em !important;
}

.news-text p {
	padding-top: 1em !important;
}

.footer{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-color: #f2f2f2;
	text-align: center;
}

/*. Menu Page */
.menu-options {
	/*padding-top: 2em !important;*/
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.item-title {
	position: absolute;
	background-color: rgba(0,0,0, 0.6);
	z-index: 2;
	color: white !important;
	bottom: 0;
	padding: 0.7em 2.5em;
	width: 100%;
	transition: ease 0.5s;
	cursor: pointer;
}
/*
.item-title-active:hover {
	position: absolute;
	z-index: 2;
	color: white !important;
	top:0;
	padding-top: : 1.9em;
	padding-left: 2em;
}*/

#item-content {
	width: 100%;
	display: none;
}

#item-content p {
	position: absolute;
	z-index: 2;
	color: white;
	top: 6em;
	left: 2.5em;
	width: 80%;
}

#item-content button {
	position: absolute;
	z-index: 2;
	bottom: 1em !important;
}

.add-item {
	margin-left: 15% !important;
	margin-right: 15% !important;
	font-size: 1.1em !important;
	text-align: center;
	width: 70%;
}

.review-link {
	position: absolute;
	z-index: 2;
	left: 2.5em;
	top: 4.1em;
}

.rating {
	height: 15px;
	width: 80px;
	padding-right: 0.3em;
}

.rating2 {
	position: absolute;
	z-index: 2;
	left: 2.5em;
	top: 5em;
	background-color: yellow;
	height: 15px;
	width: 80px;
}

.comment2 {
	top: 11em;
}

.comment2-p{
	top: 12em !important;
}

.review-back {
	position: absolute;
	z-index: 2;
	top: 0.7em;
	left: 1em;
	text-align: center;
}

.profile,.setting{
  background-color: #d4d9df;
  height: 400px;
  width: 50%;
}

/* Order Page */ 
.selected-plans, .shipping-info, .del-time, .additional-notes { 
  margin: 0 5em !important; 
} 